.vscode/**
.vscode-test/**
out/test/**
src/**
scripts/**
dict-view/**
data/dict.sqlite
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

node_modules/wikinary-eintopf/node_modules/**