body {
    font-family: sans-serif;
}

body.vscode-light {
    color: black;
}
  
body.vscode-dark {
    color: white;
}

body.vscode-high-contrast {
    color: red;
}

h2 {
    padding: 0 0 1em 0; 
    margin: 20px 0 20px 0;
}

span#main-title {
    float: left;
}

span#search-mask{
    float: right;
}


/* Copy from https://github.com/caldwell/renderjson */
.renderjson a { text-decoration: none; }
.renderjson .disclosure { color: crimson;
                        font-size: 150%; }
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }
/**/
